<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <!-- ! Hide app brand if navbar-full -->
  {% if not navbar_full %}
  <div class="app-brand demo">
    <a href="{% url 'index' %}" class="app-brand-link">
      <span class="app-brand-logo demo me-1">
        <img src="{% static 'img/logos/logo.png' %}" alt="Logo" width="35%" class="logo-img" />
      </span>
      <span class="app-brand-text demo menu-text fw-semibold ms-2">{% get_theme_variables 'template_name' %}</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="menu-toggle-icon d-xl-block align-middle"></i>
    </a>
  </div>

  {% endif %}

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <li
      class="menu-item {% if 'index' == request.resolver_match.url_name or '/dashbord/' in request.path %}active open{% endif %}"
    >
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ri-home-smile-line"></i>
        <div class="text-truncate" data-i18n="Dashboards">Dashboards</div>
        <span class="badge bg-danger rounded-pill ms-auto">5</span>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if 'index' == request.resolver_match.url_name %}active{% endif %}">
          <a href="{% url 'index' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Analytics">Analytics</div>
          </a>
        </li>
      </ul>
    </li>

    {% if user.is_authenticated and user.role == 'ADMIN' %}

    
    <li class="menu-item {% if '/listUser/' in request.path %}active{% endif %}">
      <a href="{% url 'user_list' %}" class="menu-link">
          <i class="menu-icon tf-icons ri-user-line"></i>
        <div class="text-truncate" data-i18n="Card">Utilisateurs</div>
      </a>
    </li>

  {%endif%}

    <!-- produits & categories -->
    <li class="menu-item {% if '/produits/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ri-layout-2-line"></i>
        <div class="text-truncate" data-i18n="categoriesProduits">Produits & Catégories</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if '/categories/' in request.path %}active{% endif %}">
          <a href="{% url 'categorie_list' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Catégories">Catégories</div>
          </a>
        </li>
        <li class="menu-item {% if '/produits/produits/' in request.path %}active{% endif %}">
          <a href="{% url 'product_list' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Catégories">Produits</div>
          </a>
        </li>
      </ul>
    </li>

    {% if user.is_authenticated and user.role == 'ADMIN' %}
    <li class="menu-item {% if '/events/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ri-user-line"></i>
        <div class="text-truncate" data-i18n="Events">Events</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if '/events/' in request.path %}active{% endif %}">
          <a href="{% url 'event_list' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Events">Event List</div>
          </a>
        </li>
        <li class="menu-item {% if '/events/calendar/' in request.path %}active{% endif %}">
          <a href="{% url 'calendar_view' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Events">Event Calendar</div>
          </a>
        </li>
        <li class="menu-item {% if '/events/analytics/' in request.path %}active{% endif %}">
          <a href="{% url 'events_analytics' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Events">Event Analytics</div>
          </a>
        </li>
      </ul>
    </li>

    <li class="menu-item {% if '/vendor-requests/' in request.path %}active{% endif %}">
      <a href="{% url 'vendor-requests' %}" class="menu-link">
        <i class="menu-icon tf-icons ri-layout-2-line"></i>
        <div class="text-truncate" data-i18n="Card">Vendor Requests</div>
      </a>
    </li>
    {% endif %}

    <li class="menu-item {% if 'history-commandesClientBack/' in request.path %}active{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <div class="text-truncate" data-i18n="Events">
          <i class="menu-icon tf-icons ri-bank-card-2-line"></i>Commandes
        </div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if 'history-commandesClientBack/' in request.path %}active{% endif %}">
          <a href="{% url 'history-commandesClientBack' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Card">Commandes List</div>
          </a>
        </li>

        <li class="menu-item {% if 'prediction/' in request.path %}active{% endif %}">
          <a href="{% url 'user_prediction' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Events">Commande Analytics</div>
          </a>
        </li>
      </ul>
    </li>

    {% if user.is_authenticated and user.role == 'ADMIN' %}

    <li class="menu-item {% if 'reclamations/' in request.path %}active{% endif %}">
      <a href="{% url 'liste_reclamations' %}" class="menu-link">
        <i class="menu-icon tf-icons ri-layout-2-line"></i>
        <div class="text-truncate" data-i18n="Card">Reclamations</div>
      </a>
    </li>

    {% endif %}

    <li class="menu-header fw-medium mt-7">
      <span class="menu-header-text">Dashboard</span>
    </li>
  </ul>
</aside>
