{% extends layout_path %} {% load static %} {% load i18n %} {% block title %}Account settings - Pages{% endblock %}
{%block content %} {% include 'modalConfirmation_suppression.html' %} {% include 'modalUpdate_commande.html' %}
<div class="card mb-6 col-md-12">
  <div class="card-body">
    {% if request.user.is_authenticated and request.user.role == 'CLIENT' %}
    <h4>Historique de vos commandes <span></span></h4>
    {% else %}
    <h4>Historique des commandes <span></span></h4>
    {%endif%}
    <hr />

    {% if request.user.is_authenticated and request.user.role == 'CLIENT' %}
    <p>Vous trouverez ici vos commandes passées depuis la création de votre compte</p>
    {% else %}
    <p>Vous trouverez ici toutes les commandes des clients</p>
    {%endif%}

    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th>Num commande</th>

            <th>Date</th>
            <th>Prix total</th>
            <th>Paiement</th>
            <th>Etat</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0 table-hover">
          {% if orders %} {% for order in page_obj %}
          <tr>
            <td>{{order.id}}</td>
            <td>{{order.created_at}}</td>
            <td>{{order.total_amount}} TND</td>
            <td>{% if order.payment_method == 'livraison' %} Sur place {% else %} Par carte {% endif %}</td>
            <td>
              {% if order.is_paid == True %} <span class="status-paye"> payé </span> {%else%}
              <span class="status-nonpaye">non payé</span> {%endif%}
            </td>
            {% if request.user.is_authenticated and request.user.role == 'CLIENT' %}
            <td>
              <a href="{% url 'commandeDetails' order.id %}" class="link_details_cmd">
                <i class="ri-eye-line me-1"></i>Details</a
              >
            </td>
            {% else %}
            <td>
              <div class="dropdown">
                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                  <i class="ri-more-2-line"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'commandeDetails' order.id %}">
                    <i class="ri-eye-line me-1"></i>Details</a
                  >
                  <a
                    class="dropdown-item"
                    href="javascript:void(0);"
                    data-bs-toggle="modal"
                    data-bs-target="#editCommandeModal"
                    data-id="{{ order.id }}"
                    ><i class="ri-pencil-line me-1"></i>Modifier</a
                  >
                  <a
                    class="dropdown-item"
                    href="javascript:void(0);"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteConfirmationModalCommande"
                    data-type="cette commande"
                    data-id="{{ order.id }}"
                  >
                    <i class="ri-delete-bin-6-line me-1"></i> Supprimer
                  </a>
                </div>
              </div>
            </td>
            {%endif%}
          </tr>
          {% endfor %} {% endif %}
        </tbody>
      </table>

      <nav aria-label="Page navigation">
        <ul class="pagination pagination-rounded pagination-outline-primary justify-content-center">
          {% if page_obj.has_previous %}
          <!-- First Page Link -->
          <li class="page-item first">
            <a class="page-link" href="?page=1">
              <i class="tf-icon ri-skip-back-mini-line ri-22px"></i>
            </a>
          </li>
          <!-- Previous Page Link -->
          <li class="page-item prev">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
              <i class="tf-icon ri-arrow-left-s-line ri-22px"></i>
            </a>
          </li>
          {% else %}
          <!-- Disabled First and Previous Links if there's no previous page -->
          <li class="page-item first disabled">
            <a class="page-link" href="javascript:void(0);">
              <i class="tf-icon ri-skip-back-mini-line ri-22px"></i>
            </a>
          </li>
          <li class="page-item prev disabled">
            <a class="page-link" href="javascript:void(0);">
              <i class="tf-icon ri-arrow-left-s-line ri-22px"></i>
            </a>
          </li>
          {% endif %}

          <!-- Page Numbers -->
          {% for i in page_obj.paginator.page_range %} {% if page_obj.number == i %}
          <li class="page-item active">
            <a class="page-link" href="javascript:void(0);">{{ i }}</a>
          </li>
          {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
          </li>
          {% endif %} {% endfor %} {% if page_obj.has_next %}
          <!-- Next Page Link -->
          <li class="page-item next">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
              <i class="tf-icon ri-arrow-right-s-line ri-22px"></i>
            </a>
          </li>
          <!-- Last Page Link -->
          <li class="page-item last">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
              <i class="tf-icon ri-skip-forward-mini-line ri-22px"></i>
            </a>
          </li>
          {% else %}
          <!-- Disabled Next and Last Links if there's no next page -->
          <li class="page-item next disabled">
            <a class="page-link" href="javascript:void(0);">
              <i class="tf-icon ri-arrow-right-s-line ri-22px"></i>
            </a>
          </li>
          <li class="page-item last disabled">
            <a class="page-link" href="javascript:void(0);">
              <i class="tf-icon ri-skip-forward-mini-line ri-22px"></i>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</div>

{%endblock%}
