{% extends layout_path %} {% load static %} {% load i18n %} {% block title %}Account settings - Pages{% endblock %}
{%block content %}
<div class="d-flex gap-8">
  <div class="card mb-6 col-md-8">
    <div class="card-body">
      {% if cart_items %} {% if cart_items|length > 1 %}
      <h4>Panier <span style="font-size: 15px">({{ cart_items|length }} articles)</span></h4>
      {% else %}
      <h4>Panier <span></span></h4>
      {% endif %} {% for item in cart_items %}
      <hr />
      <div class="d-flex align-items-start align-items-sm-center gap-6">
        <img
          src="{% static 'img/avatars/1.png' %}"
          alt="user-avatar"
          class="d-block w-px-100 h-px-100 rounded"
          id="uploadedAvatar"
        />
        <div class="d-flex flex-column">
          <span class="d-none d-sm-block">{{ item.product.name }} </span>
          <span class="d-none d-sm-block mt-2">Categorie du produit</span>
          <span class="d-none d-sm-block mt-4 price">{{ item.product.price }} TND </span>
        </div>

        <div class="mb-4 d-flex ms-auto">
          <input
            id="defaultInput"
            class="form-control me-8 p-2 mt-2"
            style="width: 60px"
            type="number"
            value="{{ item.quantity }}"
            onchange="updateCart({{ item.product.id }}, this.value, {{ item.product.price }})"
          />
          <span class="d-none d-sm-block mt-4 price price-product me-4" id="totalPrice-{{ item.product.id }}"
            >{{ item.total_price }} TND
          </span>

          <form method="post" action="{% url 'remove_from_cart' %}">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ item.product.id }}" />
            <button type="submit" class="btn">
              <span type="submit" class="d-none d-sm-block mt-2"><i class="fa-solid fa-trash"></i></span>
            </button>
          </form>
        </div>
      </div>

      {% endfor %} {% else %}
      <h4>Panier <span></span></h4>
      <hr />
      <p>Votre panier est vide.</p>
      {% endif %}
    </div>
    <button class="btn w-50" style="margin-left: -90px">
      <a href="{% url 'landing' %}" style="color: gray; font-size: 14px"
        ><i class="ri-arrow-left-s-line mt-2"></i>
        Continuer mes achats
      </a>
    </button>
  </div>

  <div class="card card-total mb-6 col-md-4">
    <div class="card-body">
      <h5>Résumé du Panier</h5>
      <hr />
      <div class="d-flex">
        <span class="d-none d-sm-block total">Total</span>
        <span class="d-none d-sm-block ms-auto total" id="total">{{ total }} TND </span>
      </div>
      <span class="d-none d-sm-block ms-auto mt-4">Frais de livraison non inclus</span>
      <hr />
      {% if user.is_authenticated %} {% if cart_items %}
      <button class="btn btn-primary w-100" type="submit">
        <a href="{% url 'commande' %}" style="color: white">Commander</a>
      </button>
      {% else %}
      <button class="btn btn-primary w-100" disabled>Commander</button>
      {% endif %} {% else %}
      <button class="btn btn-primary w-100" type="submit">
        <a href="{% url 'auth-login-basic' %}" style="color: white">Commander</a>
      </button>
      {%endif%}
    </div>
  </div>
</div>

{%endblock%}
