{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Register - Pages{% endblock %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static  'vendor/css/pages/page-auth.css' %}">
{% endblock page_css %}


{% block content %}
<div class="position-relative">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner py-6 mx-4">

      <!-- Register Card -->
      <div class="card p-7">
        <!-- Logo -->
        <div class="app-brand justify-content-center mt-5">
          <a href="{% url 'index' %}" class="app-brand-link gap-3">
            <img src="/static/img/logos/logo_rounded.png" alt="Logo" class="logo-img" style="max-width: 72px; height: auto;margin-left:0.5rem;">
          </a>
        </div>
        <!-- /Logo -->
        <div class="card-body mt-1">
           <h4 class="mb-1 text-center"> <span style="color: #eb907c;" >Heyya</span> Market</h4>
          <p class="mb-5 mt-4">Veuillez créer un compte et commencer l'aventure</p>

          <form id="formAuthentication" class="mb-5" action="{% url 'auth-register-basic' %}" method="post">
           {% csrf_token %}
            {% if register_form.errors %}
                <div class="alert alert-danger">{{ register_form.errors }}</div>
            {% endif %}

            <div class="form-floating form-floating-outline mb-5">
                {{ register_form.username }}              
                <label for="username">Username</label>
            </div>
            <div class="form-floating form-floating-outline mb-5">
              {{ register_form.email }}              
              <label for="email">Email</label>
            </div>
            <div class="mb-5 form-password-toggle">
              <div class="input-group input-group-merge">
                <div class="form-floating form-floating-outline">
                  {{ register_form.password1 }}              
                  <label for="password">Mot de passe</label>
                </div>
                <span class="input-group-text cursor-pointer"><i class="ri-eye-off-line ri-20px"></i></span>
              </div>
            </div>
            <div class="mb-5 form-password-toggle">
              <div class="input-group input-group-merge">
                <div class="form-floating form-floating-outline">
                  {{ register_form.password2 }}              
                  <label for="password2">Confirmer mot de passe</label>
                </div>
                <span class="input-group-text cursor-pointer"><i class="ri-eye-off-line ri-20px"></i></span>
              </div>
            </div>

             <div class="mb-2 form-role-toggle">
                  <label for="role" class="text-center" style="font-weight:bold">Sélectionnez le type de compte</label>
                  <div class="input-group input-group-merge mt-4">
                      <div class="form-floating form-floating-outline d-flex justify-content-center justify-content-around">
                          {% for choice in register_form.role.field.choices %}
                              {% if choice.0 == 'CLIENT' or choice.0 == 'VENDEUR'  %} 
                                  <div class="form-check ">
                                      <input type="radio" id="role_{{ choice.0 }}" name="{{ register_form.role.name }}" value="{{ choice.0 }}" class="form-check-input" required>
                                      <label for="role_{{ choice.0 }}" class="form-check-label">{{ choice.1 }}</label>
                                  </div>
                              {% endif %}
                          {% endfor %}
                      </div>
                  </div>
              </div>
            </div>

            <div class="mb-5 " style="margin-top:-20px;">
              <div class="form-check mb-0">
                <input class="form-check-input" type="checkbox" id="terms-conditions" name="terms">
                <label class="form-check-label" for="terms-conditions">
                 J'accepte 
                  <a href="javascript:void(0);">la politique de confidentialité & les conditions générales</a>
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary d-grid w-100 mb-5">
              S'inscrire
            </button>
          </form>

          <p class="text-center mb-5">
            <span>Vous avez déjà un compte?</span>
            <a href="{% url 'auth-login-basic' %}">
              Connectez-vous
            </a>
          </p>
        </div>
      </div>
      <!-- Register Card -->
      <img src="{% static 'img/illustrations/tree-3.png' %}" alt="auth-tree" class="authentication-image-object-left d-none d-lg-block">
      <img src="{% static 'img/illustrations/auth-basic-mask-light.png' %}" height="172" class="authentication-image d-none d-lg-block" alt="triangle-bg">
      <img src="{% static 'img/illustrations/tree.png' %}" alt="auth-tree" class="authentication-image-object-right d-none d-lg-block">
    </div>
  </div>
</div>

{% endblock content %}